#footer {
  margin-top: 10px;
  font-size: large;
}

#date {
  margin-right: 20px;
  color: red;
}

#button {
  align-items: center;
}

table {
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #A230E9;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

tr:last-child > td:last-child {
  background-color: #4CAF50;
  color: white;
}
