#footer {
  margin-top: 10%;
  margin-left: 10%;
  font-size: large;
  color: white;
  opacity:81%;
  background-color: black;
  margin-right:55%;
}

#date {
  margin-right: 20px;
  color: white;
}

#footerPhrase {
  margin-right: 20px;
  color: purple;
}

#button {
  align-items: center;
}

#h2

.background {
  background-color: black;

}

body {
  font-family; "Monstserrat", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(yellow,yellow,blue,red);
  background-repeat: no-repeat;
}

table {
  font-family: "Monstserrat", Arial, Helvetica, sans-serif;
  background-color: black;
  color: gold;
  border-collapse: collapse;
  width: 80%;
  height: 90%;
  margin-left: 10%;
  opacity:81%;


}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #A230E9;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #blue;}
tr:hover {background-color: #ddd;}

tr:last-child > td:last-child {
  background-color: #white;
  color: #00FF00;
}

footerPhrase {
  background-color: teal;
  color: white;
  height: 20px;
  width: 30px;
}
